doctype html
html(lang='en', ng-app="App")
	head
		meta(charset="utf-8")
		title Angular

	body
		block content
		

	script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.2.15/angular-locale_en-us.js")
	script(src="main.js")